<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:200px;font-weight:bold; background-color:#282828;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64" style="color:white"><b>Mosquito<br>Study</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#home" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color:rgb(185, 49, 49)">Home</a>  
    <a href="#dashboard" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color:rgb(185, 49, 49)">Dashboard</a>
    <a href="#map" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color:rgb(185, 49, 49)">Map</a> 
    <a href="#education" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color:rgb(185, 49, 49)">Education</a>
    <a href="#tools" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color:rgb(185, 49, 49)">Tools</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color:rgb(185, 49, 49)">About Us</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Mosquito Study</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:220px;margin-right:10px;">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="home">
    <h2 class="w3-xxxlarge" style="color: #282828;"><b>West Nile Virus in Chicago</b></h2>
    <img src="images\image (3).png" style=" display:block; margin-left:auto; margin-right:auto;">

  <!--Map-->
  <div class="w3-container" style="margin-top:80px" id="dashboard">
      <h1 class="w3-xxlarge" w3-text-red style="color:rgb(185, 49, 49);"><b>Dashboard</b></h1>
      <hr style="width:100px;border:5px solid rgb(185, 49, 49)" class="w3-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="images\Chicago-Map.webp" style="width:100%" onclick="onClick(this)" alt="Chicago - Map">
      <img src="/w3images/livingroom.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <img src="/w3images/diningroom.jpg" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>

    <div class="w3-half">
      <img src="/w3images/atrium.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="/w3images/bedroom.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="/w3images/livingroom2.jpg" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!--Map-->
  <div class="w3-container" style="margin-top:80px" id="map">
    <h1 class="w3-xxlarge" w3-text-red style="color:rgb(185, 49, 49);"><b>Map</b></h1>
    <hr style="width:100px;border:5px solid rgb(185, 49, 49)" class="w3-round">
  </div>

  <!-- Education -->
  <div class="w3-container" id="education" style="margin-top:80px">
    <h1 class="w3-xxlarge" style="color:rgb(185, 49, 49);"><b>Education</b></h1>
    <hr style="width:100px;border:5px solid rgb(185, 49, 49)" class="w3-round">
      <img src="images\west-nile-virus-transmission-article.png" alt="West Nile Transmission" style="display:block; margin-left:auto; margin-right:auto;"/> 
      <br>
      <br>
    <div class="w3-col m12 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="images\culex pipiens.jpg" alt="Culex Pipiens" style="width:20%; float:left; margin-right: 10px; margin-bottom: 5px;">
        <h3>Culex Pipiens</h3>
        <div>Culex pipiens is the common house mosquito—the one that tries to bite you at night and wakes you up with its dreadful buzzing.
            The typical behavioural pattern of this nocturnal pest is to come into our houses and attack us between sunset and sunrise.
            A single Culex pipiens, eager to get enough blood to lay its eggs, can ruin your night with multiple bites:
            the female of the species needs this blood meal to complete her biological cycle.
        </div>
      </div>
    </div>
    <div class="w3-col m12 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="images\culex restuans.jpg" alt="Culex Restuans" style="width:20%; float:left;margin-right:10px; margin-bottom: 5px;">
        <h3>Culex Restuans</h3>
        <div>Culex restuans is a species of mosquito known to occur in Canada, the United States, Mexico, Guatemala,
            and Honduras. It is a disease vector of St. Louis encephalitis and West Nile Virus.The larvae are found in
            a wide variety of aquatic habitats, such as ditches, pools in streams, woodland pools,
            and artificial containers. The females are regarded as troublesome biters 
            by some observers, although others say that they rarely bite humans. 
        </div>
      </div>
    </div>
    <div class="w3-col m12 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="images\Culex-Salinarius.png" alt="Culex Salinarius" style="width:20%; float:left; margin-right:10px; margin-bottom: 5px;">
        <h3>Culex Salinarius</h3>
        <div>Culex salinarius is a mosquito species that accepts birds as well as mammals.
            As a result, it has been incriminated as a potential bridge vector of the encephalitis viruses.
            Virus isolations have been made from wild populations but are a fairly rare occurrence.
            Laboratory studies suggest that the mosquito has an extremely high threshold of infection,
            and probably only functions as a secondary vector during epizootic episodes.
        </div>
      </div>
    </div>
    <div class="w3-col m12 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="images\Culex Territans.png" alt="Culex Territans" style="width:20%; float:left; margin-right:10px; margin-bottom: 5px;">
        <h3>Culex Territans</h3>
        <div>Culex territans is a frog feeding mosquito that has no known economic importance.
            The species shares habitat with a wide variety of amphibians and rarely, if ever, feeds on warm blooded animals.
            It is possible that the mosquito plays a role in the transfer of arboviruses to cold blooded overwintering hosts but the hypothesis has never been fully documented.
            Like Wyeomyia smithii, the mosquito is a tiny scientific curiosity that poses no threat to humankind.</p>
        </div>
      </div>
      <a href="https://www.cdc.gov/westnile/index.html" class="btn btn-primary" ><b>Click here for more information about the West Nile Virus</b></a>
    </div>

  <!--Tools-->
  <div class="w3-container" id="tools" style="margin-top:80px">
    <h1 class="w3-xxlarge" w3-text-red style="color:rgb(185, 49, 49);"><b>Tools</b></h1>
    <hr style="width:100px;border:5px solid rgb(185, 49, 49)" class="w3-round">
  </div>

  <!-- About -->
  <div class="w3-container" id="about" style="margin-top:80px">
    <h1 class="w3-xxlarge" style="color:rgb(185, 49, 49) ;"><b>About Us</b></h1>
    <hr style="width:100px;border:5px solid rgb(185, 49, 49)" class="w3-round">
    <p><b>We are a group of students from George Washington University - Data Analystics Boot Camp 2019.</b></p>
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m1 w3-margin-bottom"></div>
    <div class="w3-col m2 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="headshot\Alexandra Fenelon - Head Shot 2019.jpg" alt="Alexandra Fenelon" style="width:100%">
        <div class="w3-container">
          <h3>Alexandra Fenelon</h3>
          <a href="url">LinkedIn</a>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m2 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="headshot\badr.jpg" alt="Badr" style="width:100%">
        <div class="w3-container">
          <h3>Badr Werroll</h3>
          <a href="url">LinkedIn</a>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m2 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="headshot\camila.jpg" alt="Camila Cois" style="width:100%">
        <div class="w3-container">
          <h3>Camila Cois</h3>
          <a href="url">LinkedIn</a>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m2 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="headshot\james.jpg" alt="James Tedrow" style="width:100%">
        <div class="w3-container">
          <h3>James Tedrow</h3>
          <a href="url">LinkedIn</a>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m2 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="headshot\MuditProfile.png" alt="Mudit Mathur" style="width:100%">
        <div class="w3-container">
          <h3>Mudit Mathur</h3>
          <a href="https://www.linkedin.com/in/mudit-mathur-baa49817b">LinkedIn</a>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m1 w3-margin-bottom"></div>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"><b>Brought to you by the Fluffy Umbrella Academy© BCMAJ</b></a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>